# Agenda

# Variable
- Variable are used to temprary storage data values. varriables are reference of value.

In [1]:
#creating a variable
a=20

In [2]:
type(a)

int

## Scope of variable
- Global variable
- local variable

# data type
- Each variable is associated with a data type like-->int,float,string,bool

In [3]:
a=20
type(a)

int

## Type conversion 
-Type conversion is used to change one data type to another data type.

In [4]:
a=20
type(a)

int

In [5]:
b=str(a)
type(b)

str

# Operator

### 1. Arithmetic Operator
- (+) :-Used to addition 
- (-) :-Used to Subtraction
- (*) :-Used to Multiplication
- (/) :-Used to division
- (%) :-Used to get **reminder**
- (**):-Used to get Exponent
- (//):-Used to get floor division in thos division we get integer value.

In [6]:
#Creating variable 
x=22
y=5

In [15]:
#using reminder operator
x%y

2

In [13]:
#using exponent operator
x**y

5153632

In [16]:
#using floor operator
x//y

4

### 2.Assignment Operator
- =  :- Equal to operator
- += :- Add equal to operator
- -= :- Sub equal to operator
- /= :- Division equal to operator
- %= :- Reminder equal to operator
- //=:- Floor equal to operator

In [17]:
#(=) operator
a=20

In [19]:
#(+=) operator--x+=y-->x=x+y
x=20
y=5
x+=y
print(x)

25

### 3. Comparision Operator
- Equal to operator :==
- Not equal to operator :!=
- Greater than operator :>
- Smaller than operator :<
- Greater than equal to :>=
- Smaller than eual to : <=

In [20]:
20==20

True

In [21]:
2==3

False

In [22]:
2!=3

True

In [23]:
20!=30

True

In [24]:
20>18

True

In [25]:
21>23

False

In [26]:
21<23

True

In [27]:
10<=23

True

### 4. Logical Operator
- **and Operator(&)**:- Condition is true when both side is true.
- **or operator(|)** :-condition is true if any side is true.
- **not operator** :- Used to fail conditon

In [28]:
# And operator
x=5
x>4 and x<8

True

In [29]:
x>6 and x<8

False

In [30]:
#OR operator
x>6 or x<8

True

In [34]:
#NOT operator
x=True
not x

False

### 5. Identity Operator
- **is** Operator
- **is not** Operator

In [35]:
#Using is operator
x=23
y=23
x is y

True

In [36]:
z=34
x is z

False

In [37]:
#Using is not operator
x is not z

True

### 6. Membership operator
- **in** operator
- **not in** operator

In [38]:
#Creating a tuple and using IN operator
a=(3,6,9,5)

6 in a

True

In [39]:
7 in a

False

In [40]:
# Using not in oprerator in tuple

7 not in a

True

# Python String
- String are the sequence of characters and numbers enclosed by single quotes ' ' or double quotes "".

In [42]:
# creating a string variable
a="my name is vineet kumar"
type(a)

str

- **Subsetting String**
       - In python indexing start from 0

In [44]:
# for asseccing first element of string
a[0]

'm'

In [45]:
a[-1]

'r'

- **Siclising String**

In [46]:
a[0:7]

'my name'

In [47]:
a[:7]

'my name'

### String Function
- Function is a pieace of reusable code that is used for specific work.

In [50]:
a

'my name is vineet kumar'

In [51]:
# to find the lenght of string
len(a)

23

In [52]:
# to make all character lower
a.lower()

'my name is vineet kumar'

In [53]:
#To make all character upper
a.upper()

'MY NAME IS VINEET KUMAR'

In [57]:
#To make first character upper  and other small
a.capitalize()

'My name is vineet kumar'

In [58]:
#find index number 
a.find("v")

11

In [59]:
a.find("kumar")

18

In [60]:
a.find('k')

18

In [61]:
# count element in string
a.count("e")

3

In [62]:
a.count("a")

2

In [64]:
# change the element of string
a.replace("kumar","Prajapati")

'my name is vineet Prajapati'

In [65]:
# split the string 

a.split(" ")

['my', 'name', 'is', 'vineet', 'kumar']

In [66]:
# to check lower
a.islower()

True

In [67]:
# To check upper
a.isupper()

False

In [73]:
# creating string  variable with spaces 

x="   vineet kumar"
x

'   vineet kumar'

In [72]:
#for removing spaces 
x.strip()

'vineet kumar'

In [78]:
#Using join Method
color=["red","green","yellow","blue"]
x="  ".join(color)
print(x)

red  green  yellow  blue