# Data Structures

## 1.List
- List is the collection  of different data type values.
- list is created by [ ].
- llist can cantain list with in themself.
- In Python indexes start from 0.

In [1]:
#creating list
l=[12,1.2,"apple",True,45,78.8,"banti"]

In [2]:
type(l)

list

### Accessing list elements

In [3]:
#list subsetting
l[0]

12

In [4]:
l[-2]

78.8

In [5]:
#list silicing
l[0:3]

[12, 1.2, 'apple']

In [6]:
l[2:]

['apple', True, 45, 78.8, 'banti']

### List Manipulaton

*  **change list element**

In [7]:
#change element of list (single value)
l[1]=24.5

In [8]:
l

[12, 24.5, 'apple', True, 45, 78.8, 'banti']

In [9]:
# change element of list(multiply values)
l[-2:]=["Orange",False]

In [10]:
l

[12, 24.5, 'apple', True, 45, 'Orange', False]

* **Add New Element in list**

In [11]:
l

[12, 24.5, 'apple', True, 45, 'Orange', False]

In [12]:
#find length of list
len(l)

7

In [13]:
l=l+["Banana"]

In [14]:
l

[12, 24.5, 'apple', True, 45, 'Orange', False, 'Banana']

In [15]:
l=l+[33,55.7,"vineet"]

In [16]:
l

[12, 24.5, 'apple', True, 45, 'Orange', False, 'Banana', 33, 55.7, 'vineet']

* **Remove list element**

In [17]:
#remove single element using subsetting (work with indexes)
del(l[-1])

In [18]:
l

[12, 24.5, 'apple', True, 45, 'Orange', False, 'Banana', 33, 55.7]

In [19]:
#Remove multipli element using silicing (work with indexes)
del(l[-2:])

In [20]:
l

[12, 24.5, 'apple', True, 45, 'Orange', False, 'Banana']

In [21]:
# this remove last element from list
l.pop()

'Banana'

In [22]:
l

[12, 24.5, 'apple', True, 45, 'Orange', False]

In [23]:
# Remove method is worked by anme of element
l.remove(24.5)

In [24]:
l

[12, 'apple', True, 45, 'Orange', False]

### List Functon

In [25]:
l2=[23,45,20,56,78,94]

In [26]:
type(l2)

list

In [27]:
len(l2)

6

In [28]:
max(l2)

94

In [29]:
min(l2)

20

In [30]:
round(23.4)

23

In [31]:
#Function of sorting the list in ascending order
sorted(l2)

[20, 23, 45, 56, 78, 94]

In [32]:
# function of Sorting the list in decending order
sorted(l2,reverse=True)

[94, 78, 56, 45, 23, 20]

### List Methods

In [33]:
l2

[23, 45, 20, 56, 78, 94]

In [34]:
# to get index of list element

l2.index(94)

5

In [35]:
#add value by position 
l2.insert(9,50)

In [36]:
l2

[23, 45, 20, 56, 78, 94, 50]

In [37]:
#count duplicates values
l2.count(20)

1

In [38]:
#delete last value of list
l2.pop()

50

In [54]:
l3=l2
l3

[20,
 23,
 45,
 56,
 78,
 'Apple',
 23,
 45,
 20,
 56,
 78,
 94,
 'Apple',
 23,
 45,
 20,
 56,
 78,
 94,
 'Apple',
 23,
 45,
 20,
 56,
 78,
 94,
 'Apple']

In [55]:
# add value in last of list
l3.append("Apple")

In [56]:
l3

[20,
 23,
 45,
 56,
 78,
 'Apple',
 23,
 45,
 20,
 56,
 78,
 94,
 'Apple',
 23,
 45,
 20,
 56,
 78,
 94,
 'Apple',
 23,
 45,
 20,
 56,
 78,
 94,
 'Apple',
 'Apple']

In [57]:
#add l2 value in the last of l3
l3.extend(l2)

In [58]:
print(l3)

[20, 23, 45, 56, 78, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 'Apple', 20, 23, 45, 56, 78, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 'Apple']

In [59]:
# Add l3 value in the last of l2 list
l2.extend(l3)

In [60]:
print(l2)

[20, 23, 45, 56, 78, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 'Apple', 20, 23, 45, 56, 78, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 'Apple', 20, 23, 45, 56, 78, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 'Apple', 20, 23, 45, 56, 78, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 'Apple']

In [61]:
l3.remove(94)

In [62]:
print(l3)

[20, 23, 45, 56, 78, 'Apple', 23, 45, 20, 56, 78, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 'Apple', 20, 23, 45, 56, 78, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 'Apple', 20, 23, 45, 56, 78, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 'Apple', 20, 23, 45, 56, 78, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 'Apple']

In [63]:
len(l3)

111

In [64]:
#method fo list sorting
l3.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [51]:
print(l3)

[20, 23, 45, 56, 78, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple']

In [52]:
l3.sort(reverse=True)

TypeError: '<' not supported between instances of 'int' and 'str'

In [53]:
print(l3)

[20, 23, 45, 56, 78, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple', 23, 45, 20, 56, 78, 94, 'Apple']

# Tuple
- tuple is the collection of different data type.
- tuple is created by using ().
- tuple is immutable data structrures.

In [65]:
#creating tuple
a=(1,4,"vineet",4.5,True)
print(a)

(1, 4, 'vineet', 4.5, True)

In [66]:
type(a)

tuple

### Accessing tuple

In [67]:
# accessing tuple using subsrtting
a[0]

1

In [69]:
a[2]

'vineet'

In [70]:
a[-1]

True

In [71]:
#Accessing using slicing
a[:-1]

(1, 4, 'vineet', 4.5)

In [72]:
a[1:]

(4, 'vineet', 4.5, True)

In [80]:
b=(2,67,"kumar",False)
print(b)

(2, 67, 'kumar', False)

In [83]:
# concatenate Tuple
z=a+b
print(z)

(1, 4, 'vineet', 4.5, True, 2, 67, 'kumar', False)

In [84]:
print(z)

(1, 4, 'vineet', 4.5, True, 2, 67, 'kumar', False)

### Reapeating Tuple Element

In [86]:
print(a)

(1, 4, 'vineet', 4.5, True)

In [89]:
print(a*3+b
     )

(1, 4, 'vineet', 4.5, True, 1, 4, 'vineet', 4.5, True, 1, 4, 'vineet', 4.5, True, 2, 67, 'kumar', False)

In [90]:
c=(23,45,67,84,13,45)
print(c)

(23, 45, 67, 84, 13, 45)

In [92]:
max(c)

84

In [93]:
min(c)

13

# Dictionary
- Dictionary is the collection of data values that has key-value pair.
- Dictionary is created using { }.
- Dictionary is a mutable data type.
- In dictionary Key should be unique.
- In dictionary value can  be another datatype like list, tuple, dictionary also.

In [95]:
#Creating Dictionary
fruits={"Apple":80,"banana":40,"Orange":50}
print(fruits)

{'Apple': 80, 'banana': 40, 'Orange': 50}

In [101]:
type(fruits)

dict

In [98]:
#Accessing by key name 
fruits["Apple"]

80

In [102]:
#adding new element in dictionary
fruits["Black_berry"]=100

In [103]:
fruits

{'Apple': 80, 'banana': 40, 'Orange': 50, 'Black_berry': 100}

In [106]:
#Updating value of dictionary
fruits["Orange"]=60

In [107]:
fruits

{'Apple': 80, 'banana': 40, 'Orange': 60, 'Black_berry': 100, 'orange': 60}

In [108]:
#deleting value from dictionary using del() function
del(fruits["orange"])

In [109]:
fruits

{'Apple': 80, 'banana': 40, 'Orange': 60, 'Black_berry': 100}

In [110]:
# Deleting value from dictionary using pop method
fruits.pop("Black_berry")

100

In [111]:
fruits

{'Apple': 80, 'banana': 40, 'Orange': 60}

In [113]:
fruits1={"Orange":50,"Black_berry":100,"Guava":30}
print(fruits)

{'Apple': 80, 'banana': 40, 'Orange': 60}

In [114]:
fruits.update(fruits1)

In [115]:
fruits

{'Apple': 80, 'banana': 40, 'Orange': 50, 'Black_berry': 100, 'Guava': 30}

In [116]:
# creating dictonary using list dat type in values
runs={1:[30,50,23,78,100],1.2:"Rohit",1.4:("Mumbai Indians")}print

In [117]:
print(runs)

{1: [30, 50, 23, 78, 100], 1.2: 'Rohit', 1.4: 'Mumbai Indians'}

In [119]:
type(runs)

dict

In [120]:
runs[1]

[30, 50, 23, 78, 100]

In [121]:
runs[1.2]

'Rohit'

In [122]:
runs[1.4]

'Mumbai Indians'

In [123]:
runs[1]=[40,38,70,102,33]

In [124]:
runs

{1: [40, 38, 70, 102, 33], 1.2: 'Rohit', 1.4: 'Mumbai Indians'}

In [125]:
runs[1.2]="vineet"

In [126]:
runs

{1: [40, 38, 70, 102, 33], 1.2: 'vineet', 1.4: 'Mumbai Indians'}

In [129]:
# Mumbai indians can not be change because it's value is tuple.

In [130]:
#Extracting all keys
runs.keys()

dict_keys([1, 1.2, 1.4])

In [131]:
#Extracting all values
runs.values()

dict_values([[40, 38, 70, 102, 33], 'vineet', 'Mumbai Indians'])

In [132]:
# Creating Neasted Dictionary
student_file={"Vineet":{"lastname":"kumar","age":23,"Roll_no":100160162,"Course":"B.Teah"},
             "Ayan":{"lastname":"Rajput","age":24,"Roll_no":100160109,"Course":"M.Tech"},
             "Gaurav":{"lastname":"Arya","age":25,"Roll_no":10016011,"Course":"M.Tech"}}

In [134]:
student_file

{'Vineet': {'lastname': 'kumar',
  'age': 23,
  'Roll_no': 100160162,
  'Course': 'B.Teah'},
 'Ayan': {'lastname': 'Rajput',
  'age': 24,
  'Roll_no': 100160109,
  'Course': 'M.Tech'},
 'Gaurav': {'lastname': 'Arya',
  'age': 25,
  'Roll_no': 10016011,
  'Course': 'M.Tech'}}

In [138]:
#accessing values
student_file["Vineet"]

{'lastname': 'kumar', 'age': 23, 'Roll_no': 100160162, 'Course': 'B.Teah'}

In [139]:
student_file["Vineet"]["age"]

23

In [140]:
student_file.keys()

dict_keys(['Vineet', 'Ayan', 'Gaurav'])

In [141]:
student_file.values()

dict_values([{'lastname': 'kumar', 'age': 23, 'Roll_no': 100160162, 'Course': 'B.Teah'}, {'lastname': 'Rajput', 'age': 24, 'Roll_no': 100160109, 'Course': 'M.Tech'}, {'lastname': 'Arya', 'age': 25, 'Roll_no': 10016011, 'Course': 'M.Tech'}])

# Set
- Set is collection of different data type that is not allow duplicates values.
- set is created using {}.
- Empty set is created by {set}.
- set is a mutable data type structures.
- Set is the unordered and unindexed data structures. So we can not access set element

In [149]:
#creating set 
s1={1,2.4,"apple",True}

print(a)

{1, 2.4, 'apple'}

In [150]:
type(s1)

set

In [192]:
s4={set}

In [193]:
type(s4)

set

In [194]:
s4

{set}

In [153]:
# Set not allow duplicates elements
s2={2,3.4,"Python",3.4,"hello","hello"}
print(s2)

{2, 3.4, 'hello', 'Python'}

In [157]:
# add new element in set
s2.add(True)

In [158]:
s2

{2, 3.4, False, 'Python', True, 'hello'}

In [159]:
#adding multiple elements
s1.update(s2)

In [160]:
print(s1)

{False, 1, 2.4, 2, 3.4, 'apple', 'hello', 'Python'}

In [164]:
# Remove Element of set
s1.remove("hello")

In [165]:
s1

{1, 2, 2.4, 3.4, False, 'Python', 'apple'}

### function of Set

* union

In [166]:
s1.union(s2)

{1, 2, 2.4, 3.4, False, 'Python', 'apple', 'hello'}

* intersection

In [167]:
s1.intersection(s2)

{2, 3.4, False, 'Python', True}

# Frozenset
- frozenset is the immutable data type strucures of set
- it is created by frozenset{}.
- Build an immutable unordered collection of unique elements.

In [217]:
x=frozenset([1,2,3,4,"vineet",'True',"vineet",4,3.4])

In [218]:
x

frozenset({1, 2, 3, 3.4, 4, 'True', 'vineet'})